<div class="row">
    <div class="col-lg-11" style="margin-left:5%">
        <div class="p-5">
            <div class="text-center ">
                <h1 class="h4 text-gray-900 mb-4">Update Movies</h1>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" [(ngModel)]="movie.moviename" name="moviename" id="MovieName" placeholder="Movie Name" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" [(ngModel)]="movie.moviename" name="price" id="Ticket Price" placeholder="Price" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" required [(ngModel)]="movie.description" name="description" id="Describe about movie" placeholder="Description">
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="Date" class="form-control form-control-user" required [(ngModel)]="movie.realesedate" name="realesedate" id="Realease-date" placeholder="Realease-date">
                    </div>
                    <div class="col-sm-6">
                        <input type="date" class="form-control form-control-user" required [(ngModel)]="movie.enddate" name="enddate" id="End-Date" placeholder="End-Date">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" required [(ngModel)]="movie.starcast" name="starcast" id="StarCast" placeholder="Starcast">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" required [(ngModel)]="movie.timing" id="Timing" name="timing" placeholder="Timing">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" required [(ngModel)]="movie.movieback" id="DashboardPoster" name="movieback" placeholder="Dashboard Poster Name">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" required [(ngModel)]="movie.posterlink" id="BookingPoster" name="posterlink" placeholder="Booking Poster Name">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Submit</button>
                <hr>
            </form>
        </div>
    </div>
</div>